/* ================================== *//* ================================== */
/*          ANIMATIONS.CSS            *//* ================================== */
/*                                    *//* ================================== */
/* ================================== *//* ================================== */



/* ================================== */
/* == Animate into viewport ========= */
/* ================================== */

/* Fallback data */
[data-animate]{
    opacity: 0;
    transform: translateY(var(--move, 40px)) scale(var(--scale, 1));
    transition:
    opacity var(--dur, 950ms) var(--ease, cubic-bezier(.2,.7,.3,1)) var(--delay,150ms),
    transform var(--dur, 950ms) var(--ease, cubic-bezier(.2,.7,.3,1)) var(--delay,150ms);
    will-change: transform, opacity;
}

/* Animate in */
[data-animate].animate-in{
    opacity: 1;
    transform: none;
    
    /* Declare specifically as standard css override */
    transition:
    opacity var(--dur, 950ms) var(--ease, cubic-bezier(.2,.7,.3,1)) var(--delay,150ms),
    transform var(--dur, 950ms) var(--ease, cubic-bezier(.2,.7,.3,1)) var(--delay,150ms);
}

/* Respect reduced motion */
@media (prefers-reduced-motion: reduce){
    [data-animate]{ transition:none; opacity:1; transform:none; }
}

body {
    opacity: 0;
    animation: fadeIn .5s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
