
.section.calendar-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.calendar-wrapper {
    position: relative;
    width: 1400px;
    min-height: 850px;
    margin: 0 auto;
    padding: 3px;
    color: var(--color-light);
    display: flex;

    border-radius: 10px;
    background: linear-gradient(rgba(var(--color-secondary-raw), 0.75), rgba(var(--color-primary-raw), 0.75));
    font-family: var(--font-tertiary);
}

.calendar-wrapper .left {
    width: 60%;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-light);
    border-radius: 5px;
    background-color: var(--color-dark);
}

.calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;

}
.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--color-primary);
}

.calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-primary);
    border: 1px solid rgba(var(--color-primary-raw), 0.2);
    transition: all 300ms ease;
}

.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid rgba(var(--color-primary-raw), 0.2);
}

.calendar .days .day:nth-child(7n) {
    border-right: 2px solid rgba(var(--color-primary-raw), 0.2);
}

.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid rgba(var(--color-primary-raw), 0.2);
}

.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid rgba(var(--color-primary-raw), 0.2);
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: var(--color-light);
}

.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--color-primary);
}

.calendar .days .today {
    font-size: 2rem;
}

.calendar-wrapper .right {
    position: relative;
    width: 40%;
    min-height: 100%;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.right .today-date .event-day {
    font-size: 1.8rem;
    font-weight: 700;
}

.right .today-date .event-date {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-light);
}

.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    margin: 0.25rem 0 0 0;
    color: #fff;
    background: linear-gradient(90deg, var(--color-dark), transparent);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.events .event:hover {
    background: linear-gradient(90deg, var(--color-dark), transparent);
    opacity: 0.8;
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
    transition: all 0.3s ease-in;
}

.events .event i {
    color: var(--color-primary);
    font-size: 0.5rem;
    transition: all 0.2s ease-in;
}

.events .event:hover i {
    color: #fff;
}

.events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

.events .event:hover .event-time {
    color: #fff;
}

@media screen and (max-width: 1000px) {

    .calendar-wrapper {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }

    .calendar-wrapper .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .calendar-wrapper .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }

    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }

    .events {
        padding-bottom: 340px;
    }

    .add-event-wrapper {
        bottom: 100px;
    }
}

@media screen and (max-width: 500px) {
    .calendar .month {
        height: 75px;
    }

    .calendar .weekdays {
        height: 50px;
    }

    .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
    }

    .calendar .days .day.active,
    .calendar .days .day.today {
        font-size: 1rem;
    }

    .right .today-date {
        padding: 20px;
    }
}


